parameters:
    level: 5
    paths:
        - App
    phpVersion: 80500
    tmpDir: storage/phpstan
    bootstrapFiles:
        - App/helpers/settings.php
    excludePaths:
        - vendor
        - App/routes (?)